/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: 'Playfair Display', serif;
}

/* Navbar styles */
#navbar {
  width: 100%;
  height: 90px;
  background-color: rgb(44, 43, 43);
  color: rgb(255, 111, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1600;
}
#navbar a {
  color: rgb(255, 98, 0);
}
#logo {
  display: flex;
  align-items: center;
}
#logo-img {
  width: 100px;
  margin-right: -30px;
}
#logo a {
  font-size: 24px;
  font-weight: bold;
  color: rgb(240, 100, 6);
  text-decoration: none;
  margin-left: 20px;
}
#sidebar-toggle {
  margin-right: 10px;
  font-size: 24px;
  cursor: pointer;
}
#menu {
  margin-right: 20px;
}
#menu ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
#menu li {
  margin: 0;
  padding: 0;
}
#menu a {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  color: rgb(240, 100, 6);
  text-decoration: none;
}
#menu a:hover {
  text-decoration: underline;
}

/* Sidebar styles */
#sidebar {
  width: 175px;
  height: calc(100vh - 60px);
  background-color: rgba(44, 43, 43, 0.95);
  color: white;
  position: fixed;
  top: 90px;
  left: 0;
  transition: left 0.3s ease-in-out;
  z-index: 1600;
}
#sidebar.closed {
  left: -175px;
}
#sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#sidebar li {
  margin: 0;
  padding: 10px;
}
#sidebar button.modal-open {
  font-family: 'Playfair Display', serif;
  width: 100%;
  background-color: transparent;
  border: none;
  color: rgb(240, 100, 6);
  font-size: 16px;
  text-align: left;
}
#sidebar button.modal-open:hover {
  color: white;
}
#sidebar a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}
#sidebar a:hover {
  text-decoration: underline;
}
.sidebar-button:hover {
  background-color: white;
  color: black;
}

/* Map styles */
#map {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Media queries */
@media screen and (max-width: 1024px) {
  #sidebar {
    position: absolute;
    top: 50px;
    left: -250px;
    transition: left 0.3s ease-in-out;
  }
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(44, 43, 43, 0.6);
  z-index: 2000;
  display: none;
  justify-content: center;
  opacity: opacity 0.3s ease-in-out;;
}
.modal #main-modal-content{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(44, 43, 43, 0.6);
  z-index: 2000;
  display: none;
  justify-content: center;
  opacity: opacity 0.3s ease-in-out;;
}
.modal-content {
  background: #3b3a3a;
  margin-top: 110px;
  width: 85%;
  height: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 24px;
  border-radius: 4px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  z-index: 2000;
}
.modal-header {
  font-weight: 500;
  padding: 10px 0;
  font-size: 26px;
  color: rgb(240, 100, 6);
  justify-content: center;
  text-align: center;
}
.modal-header .modal-close {
  float: right;
  font-size: 20px;
  background: #efefef;
  border: 0;
  outline: 0;
  padding: 4px 10px;
  border-radius: 50%;
}
.modal-header .modal-close:hover {
  background-color: rgb(240, 100, 6);
  color: white;
}
.modal-body {
  flex: 1;
  display: flex;
  color: #7b7b7b;
  padding: 10px 0;
  max-height: 900px;
  overflow-y: auto;
}
.modal-content-left {
  flex: 3;
  padding-right: 10px;
  overflow-y: auto;
  color: white;
  display: block;
}
.modal-content-right {
  flex: 1;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 80%;
  padding-left: 10px;
  max-height: 100%;
  /* overflow-y: auto; */
}
.modal-footer {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}
.modal-footer .modal-close {
  padding: 5px 5px;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 4px;
  color: rgb(240, 100, 6);
  margin-right: 0;
  background-color: rgba(44, 43, 43, 0.8);
  position: absolute;
  bottom: 12%;
  left: 10%;
}

/* Footer styles */
footer {
  background-color: #2323230a;
  color: white;
  text-align: center;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1600;
}
.modal-footer .modal-close:hover {
  color: white;
  background-color: rgb(240, 100, 6);
}
.footer-button {
  font-family: 'Playfair Display', serif;
  padding: 5px 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgb(44, 43, 43);
  color: rgb(240, 100, 6);
  border: none;
  border-radius: 5px;
  z-index: 1;
  cursor: pointer;
}
.footer-button:hover {
  background-color: rgb(240, 100, 6);
  color: white;
}
#footer-sidebar {
  font-family: 'Playfair Display', serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color:transparent;
  padding: 5px;
  transition: right 0.3s ease;
  z-index: 1;
}
#footer-toggle-btn {
  background-color: rgb(44, 43, 43);
  color: rgb(240, 100, 6);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#footer-toggle-btn:hover {
  background-color: rgb(240, 100, 6);
  color: white;
}

#footer-buttons {
  display: none; /* Initially hide the footer buttons */
}
#footer-sidebar.active #footer-toggle-btn{
  background-color: rgb(44, 43, 43);
  color: rgb(240, 100, 6);
  margin-bottom: 2.5px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
#footer-sidebar.active #footer-toggle-btn:hover {
  background-color: rgb(240, 100, 6);
  color: white;
}
#footer-sidebar.active #footer-buttons {
  display: block; /* Show the footer buttons when the sidebar is active */
}

/* Reference cards styles */
.referencestory-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  max-width: 1200px; /* Set a max-width to prevent horizontal overflow */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.referencestory-card img {
  width: 100%; /* Make the image fill the entire width of the container */
  height: auto; /* Maintain the aspect ratio of the image */
  display: block; /* Ensure the image is displayed as a block element */
}
.referencestory-card {
  width: 45%;
  height: 550px;
  background-color: #3b3a3a;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  margin-left: 5%;
}
.referencestory-card:hover {
  transform: translateY(-5px);
}





















/* Character cards styles */
.character-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  max-width: 1200px; /* Set a max-width to prevent horizontal overflow */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.character-card img {
  width: 100%; /* Make the image fill the entire width of the container */
  height: auto; /* Maintain the aspect ratio of the image */
  display: block; /* Ensure the image is displayed as a block element */
}
.card-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}
.character-card {
  width: 18%;
  height: 200px;
  background-color: #3b3a3a;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}
.character-card:hover {
  transform: translateY(-5px);
}

.leaflet-popup-content-wrapper {
  background-color: rgba(44, 43, 43, 0.799); /* Change to match your website theme */
  color: white; /* Text color */
  font-family: 'Playfair Display', serif; /* Font family */
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Padding inside the popup */
}

.leaflet-popup-tip-container {
  display: none; /* Hide the default leaflet popup tip */
}
.popup-button{
  margin-right: 6px;
  margin-bottom: 10px;
  background-color: rgb(44, 43, 43);
  color: rgb(240, 100, 6);
  border: 1px solid rgb(240, 100, 6);
  padding: 1px 3px;
  border-radius: 30%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.popup-button:hover{
  background-color: rgb(240, 100, 6);
  color: white;
}
.popup-close-button{
  float: right;
  font-size: 20px;
  background: #efefef;
  border: 0;
  outline: 0;
  padding: 4px 10px;
  border-radius: 50%;
}
.popup-close-button:hover{
  background-color: rgb(240, 100, 6);
  color: white;
}

.popup-content{
  margin-bottom: 10px;
}
/* Scrollbar styles */
/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(240, 100, 6) transparent; /* scrollbar-color: thumbColor trackColor; */
}

/* For Chrome, Safari, and Opera */
*::-webkit-scrollbar {
  width: 8px; /* Width of vertical scrollbar */
  height: 8px; /* Height of horizontal scrollbar */
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(240, 100, 6, 0.5); /* Color of the thumb */
  border-radius: 4px; /* Roundness of the thumb */
}

*::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
}

/* Custom styles for leaflet-interactive class */
.leaflet-interactive {
  stroke: blue; /* Change stroke color */
  stroke-width: 3px; /* Increase stroke width to make it bigger */
  fill: blue; /* Change fill color */
  fill-opacity: 0.5; /* Reduce fill opacity */
  transition: all 0.3s ease; /* Add transition for smooth hover effect */
}

.leaflet-interactive:hover {
  stroke-width: 10px;
  stroke: orange; /* Change stroke color on hover */
  fill: orange; /* Change fill color on hover */
  fill-opacity: 1; /* Increase fill opacity on hover */
}
.dropdown-content {
  position: fixed;
  top: 90px; /* Adjust as needed */
  right: -250px;
  width: 250px;
  color: white;
  background-color: rgba(44, 43, 43, 0.946); /* Adjust background color as needed */
  /* border: 1px solid #ccc; Adjust border properties as needed */
  z-index: 1500;
  height: calc(100vh - 90px);
  flex-direction: column;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow-x: scroll; /* Enable horizontal scrolling */
  overflow-y: scroll;
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
  display: none;
}

.dropdown-content.show {
  right: 0;
  display: block;
  z-index: 1500;
  opacity: 1;
}
#guide-dropdown-btn {
  font-family: 'Playfair Display', serif;
  background: transparent;
  background-color: transparent;
  font-size: 17px;
  color: rgb(240, 100, 6);
  border: none;
}
#guide-dropdown-btn:hover {
  text-decoration: underline;
}
#kanda-buttons button {
  padding: 5px 5px;
  font-size: 12px;
  margin-right:3px;
  left: 0;
  border: none;
  outline: none;
  border-radius: 4px;
  color: rgb(240, 100, 6);
  background-color: rgba(44, 43, 43, 0.8);
  cursor: pointer; /* Make the buttons look clickable */
}

#kanda-buttons button:hover {
  /* Hover effect */
  color: white;
  background-color: rgb(240, 100, 6);
}
#main-modal-content {
  position: fixed;
  top: 0;
  right: 0; /* Change 'left' to 'right' */
  width: 60%; /* Adjust the width as needed */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

